:root{
    --cor-primaria: #8e2424;
    --cor-secundaria: #667085;
    --cor-terciaria: #101828;
    --cor-quaternaria: #EAECF0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    padding: 0 10%;
}

.cabecalho{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__container{
    display: flex;
    gap: 7.3rem;
    align-items: center;
}

.cabecalho__lista{
    display: flex;
    gap: 2rem;
}

.cabecalho__item{
    list-style-type: none;
}

.cabecalho__link{
    text-decoration: none;
    font-weight: 500;
    color: var(--cor-secundaria);
}

.cabecalho__botao-container{
    display: flex;
    gap: 0.7rem;
}

.botao{
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 18px;
    background-color: var(--cor-primaria);
    color: #FFF;
}

.botao--transparente{
    color: var(--cor-secundaria);
    background-color: transparent;
}

.sobre-nos{
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.sobre-nos__span{
    font-weight: 600;
    color: var(--cor-primaria);
}

.sobre-nos__titulo{
    font-weight: 600;
    font-size: 3rem;
    color: var(--cor-terciaria);
}

.sobre-nos__texto{
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    max-width: 50%;
    text-align: center;
}

.metricas{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 6rem;
}

.metricas__container{
    flex-basis: 25%;
}

.metricas__numero{
    color: var(--cor-primaria);
    font-weight: 600;
    font-size: 3.75rem;
    display: inline-block;
    margin-bottom: 0.75rem;
}

.metricas__titulo{
    color: var(--cor-terciaria);
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.metricas__descricao{
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.vagas{
    padding: 6rem 0;
}

.vagas__talentos{
    margin: 0 2rem;
}

.vagas__talentos-container{
    margin-bottom: 4rem;
    text-align: center;
}

.vagas__talentos-span{
    font-weight: 500;
    font-size: 0.87rem;
    color: var(--cor-primaria);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    background-color: rgba(142, 36, 36, 0.1);
    display: inline-block;
    margin-bottom: 1rem;
}

.vagas__talentos-titulo{
    color: var(--cor-terciaria);
    font-weight: 600;
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
}

.vagas__talentos-descricao{
    font-weight: 400;
    color: var(--cor-secundaria);
    font-size: 1.25rem;
}

.vagas__talentos-imagem{
    width: 100%;
    display: block;
}

.vagas__abertas{
    width: 60%;
    margin: 0 auto;
}

.vagas__abertas-area{
    color: var(--cor-terciaria);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 4rem 0 2rem;
}

.vagas__abertas-item{
    list-style-type: none;
    padding: 1.5rem;
    border: 1px solid var(--cor-quaternaria);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.vagas__abertas-item:last-child{
    margin-bottom: 0;
}

.vagas__abertas-titulo{
    font-size: 1.12rem;
    color: var(--cor-terciaria);
    font-weight: 500;
    margin-bottom: 2rem;
}

.vagas__abertas-informacoes{
    display: flex;
    gap: 1.5rem;
}

.vagas__abertas-descricao{
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 500;
}

.depoimentos{
    background-color: rgba(195, 25, 25, 0.03);
    padding: 4rem;
    text-align: center;
    border-radius: 1rem;
    margin: 0 2rem 6rem;
}

.depoimentos__subtitulo{
    color: var(--cor-primaria);
    font-size: 0.87rem;
    font-weight: 600;
    display: inline-block;
}

.depoimentos__citacao{
    font-size: 2.25rem;
    font-weight: 500;
    color: var(--cor-terciaria);
    margin: 1rem auto 2rem;
    width: 85%;
}

.depoimentos__avatar{
    display: block;
    margin: 0 auto;
}

.depoimentos__nome{
    display: block;
    color: var(--cor-terciaria);
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem 0 4px;
}

.depoimentos__cargo{
    color: var(--cor-secundaria);
    font-size: 0.87rem;
    font-weight: 400;
}