:root{
    --cor-primaria: #8E2424; 
    --cor-secundaria: #667085;
    --cor-terciaria: #101828;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    padding: 0 10%;
}

.cabecalho{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__container{
    display: flex;
    gap: 7.3rem;
    align-items: center;
}

.cabecalho__lista{
    display: flex;
    gap: 2rem;
}

.cabecalho__item{
    list-style-type: none;
}

.cabecalho__link{
    text-decoration: none;
    font-weight: 500;
    color: var(--cor-secundaria);
}

.cabecalho__botao-container{
    display: flex;
    gap: 0.7rem;
}

.botao{
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 18px;
    background-color: var(--cor-primaria);
    color: #FFF;
}

.botao--transparente{
    color: var(--cor-secundaria);
    background-color: transparent;
}

.sobre-nos{
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.sobre-nos__span{
    font-weight: 600;
    color: var(--cor-primaria);
}

.sobre-nos__titulo{
    font-weight: 600;
    font-size: 3rem;
    color: var(--cor-terciaria);
}

.sobre-nos__texto{
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    max-width: 50%;
    text-align: center;
}

.metricas{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 6rem;
}

.metricas__container{
    flex-basis: 25%;
}

.metricas__numero{
    color: var(--cor-primaria);
    font-weight: 600;
    font-size: 3.75rem;
    display: inline-block;
    margin-bottom: 0.75rem;
}

.metricas__titulo{
    color: var(--cor-terciaria);
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.metricas__descricao{
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}